@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #333,//#ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

// Customs
$primary_bg: #333;
$secondary_bg: #3f3f46;
$text_color: #c1c1c1;

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

// TopAppBar spacing
.mdc-top-app-bar__row {
  margin-top: 5px;
  margin-bottom: 5px;
}

// TopAppBar logo
.mdc-top-app-bar__section > img {
  margin-top: 1px !important;
}

// TopAppBar social media icons
.mdc-top-app-bar__section > a {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

// TopAppBar tabs
.mdc-top-app-bar__section > ul > li > a {
  margin-left: 16px;
  color: #c1c1c1;

  &:hover {
    color: red;
  }
}

// DataTable
.mdc-data-table {
  margin-bottom: 2rem;
  border-width: 0px !important;
}

// DataTable header
.mdc-data-table__header-row > th {
  background-color: $primary_bg !important;
  text-align: center !important;
}

// DataTable header text
.mdc-data-table__header-cell-wrapper, .mdc-data-table__header-cell {
  font-family: 'NinKid' !important;
  font-size: x-large !important;
  color: $text_color !important;
  padding-bottom: 4px !important;
  min-width: 100px !important;
}

// DataTable data row
.mdc-data-table__row:hover {
    filter: brightness(150%);
}

// DataTable data cells
.mdc-data-table__cell, .mdc-data-table__cell--numeric {
  font-family: 'NinKid' !important;
  font-size: large !important;
  color: $text_color !important;
  background-color: $secondary_bg;
  text-align: center !important;
  align-items: center !important;
}

// DataTable non-numeric data cells (font digit padding bailout)
.mdc-data-table__cell {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

// DataTable numeric data cells (font digit padding bailout)
.mdc-data-table__cell--numeric {
  padding-bottom: 9px !important;
  padding-top: 5px !important;
}
