@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NinKid';
    src: url('/fonts/Nin Kid.ttf');
}

@font-face {
    font-family: 'UbuntuLight';
    src: url('/fonts/Ubuntu-Light.ttf');
}

p {
    padding-top: 5px;
}

p > a:hover {
    color: #3f3f46;
}
