@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NinKid';
    src: url('/fonts/Nin Kid.ttf');
}

@font-face {
    font-family: 'UbuntuLight';
    src: url('/fonts/Ubuntu-Light.ttf');
}

.sc-carousel__pages-window {
    border-radius: 6px !important ;
    max-height: 400px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.sc-carousel-dots__container { 
    margin-top: 5px;
    margin-bottom: 10px;
}
